//import _base.scss
@import "base";

// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/typography";

@import "social/*.png";
@include all-social-sprites;

body {
	background: $background !important;
}

h1, h2, h3, h4 {color:$cream2;}

/*a {
	&:hover {background: $background; color: $cream;}
	@include transition-property(all);
	@include transition-duration(0.2s); 
	@include transition-timing-function(ease-in);
}*/

#main {
	background: $cream;
	padding: 10px;
	@include border-radius(8px);
	@include background-image(linear-gradient($cream, $cream2)); 
}

#side {
	background: $cream;
	padding: 10px;
	@include border-radius(8px);
	@include background-image(linear-gradient($cream, $cream2)); 
}

ul.social-links {
	@include horizontal-list;
	margin-bottom: 15px;
	li {
		list-style: none;
		a{display:block; width:32px; height:32px; text-indent:-9999px;}
	}
}